hr {
    border-color: grey;
    border-style: dotted none none;
    border-width: 3px;
    width: 150px;
}


h1 {
    color: black;
}

h3 {
    color: black;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 500px;
    height: 30px;
    
    }
    
    li {
      float: left;
    }
    
    li a {
      display: blcok;
      color: white;
      text-align: center;
      padding: 38px;
      text-decoration: none;
    }
    
    .active {
        color: #ADA2FF;
    }
    
    li {
        border-right: 1px solid #bbb;
        padding: 0px;
        padding-top: 5px;
        padding-bottom: 7px;
      }
      
      li:last-child {
        border-right: none;
      }